/* Styles for club registration form */
.notice-success,
.notice-error,
.notice-warning{padding:10px;border-radius:10px;margin-bottom:10px}
.notice-success{background:#00ffaa8f;}
.notice-error{background:#ff00008f;}
.notice-warning{background:#ff92008f;}

.sc-header{background:#060097;color:#fff;padding:10px;font-size:18px;font-weight:600;}
.club-form-container{background:#fff;border:1px solid #e0e0e0;padding:20px;margin:30px auto;direction:rtl;font-family:"vaziri",sans-serif;max-width:95%}
.club-form-container .cf-grid{display:grid;grid-template-columns:repeat(3,1fr);gap:16px}
.club-form-container .cf-field{display:flex;flex-direction:column}
.club-form-container .cf-field label{font-weight:600;margin-bottom:6px}
.club-form-container .cf-field input,
.club-form-container .cf-field textarea,
.club-form-container .cf-field select{padding:8px;border:1px solid #ccc;border-radius:4px;background:#fff;font-size:14px;width:100%}
.club-form-container input[disabled],
.club-form-container textarea[disabled],
.club-form-container select[disabled]{background:#f5f5f5;color:#666;cursor:not-allowed}
.club-form-container .cf-wide{grid-column:span 3}
.club-form-container .cf-submit{grid-column:3/4;text-align:left;margin-top:10px}
.club-form-container .cf-submit button{background:#1890ff;color:#fff;border:none;padding:10px 20px;border-radius:4px;cursor:pointer;font-size:15px}
.thumb-lic{margin-top:6px;max-width:180px;border:1px solid #ccc;border-radius:6px}

.club-form-container .cf-field input,
.club-form-container .cf-field textarea,
.club-form-container .cf-field select{padding:8px !Important;border:1px solid #ccc !Important;border-radius:4px !Important;font-size:14px !Important; background-color: #F9FAFB !important;width:100%}
.date-select {
    display: flex;
    gap: 10px;
}